.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
module/Application/language/*.po
module/Application/language/*.mo
module/Application/language/translations.pot
